# Fichiers générés par LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.mtc*
*.maf
*.idx
*.ilg
*.ind
*.lol
*.nav
*.snm
*.vrb
*.xdv
*.pdf

# Scripts temporaires
*.ps1
*.py