# Fichiers générés par LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.maf
*.idx
*.ilg
*.ind
*.lol
*.nav
*.snm
*.vrb
*.xdv
*.pdf

# Scripts temporaires
*.ps1
*.py